* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.produtos {
    text-align: center;
}

.cliente{
    text-align: center;
}

header {
	background-color: #f00;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}

header a {
	color: #fff;
	text-decoration: none;
}

nav {
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	padding: 20px;
	width: 100%;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.3s ease;
}

nav ul li a:hover {
	color: #f00;
}

main {
	padding: 50px 0;
	margin-top: 40px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 32px;
	margin-bottom: 30px;
}

.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product {
	width: 30%;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

.product img {
	max-width: 100%;
	margin-bottom: 20px;
}

.product h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.product p {
	font-size: 18px;
	margin-bottom: 20px;
}

button {
	background-color: #f00;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	background-color: #fff;
	color: #f00;
}

ul {
	list-style: none;
	font-size: 18px;
	line-height: 2;
}

.testimonials {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.testimonial {
	width: 40%;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

.testimonial img {
	max-width: 100%;
	margin-bottom: 20px;
}

.testimonial p {
	font-size: 18px;
	margin-bottom: 20px;
}

.testimonial em {
	font-style: normal;
	color: #f00;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.services {
    background-color: #f7f7f7;
    padding: 60px 0;
    text-align: center;
    margin: 10px;
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .services-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .service {
    width: 30%;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .service:hover {
    transform: translateY(-10px);
  }
  
  .service img {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 150px;
  }
  
  .service h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service p {
    font-size: 16px;
    line-height: 1.5;
  }
  